# This file will be modified by the script
test-report-content.adoc

# Pdf generated
test-report.pdf

# SonarQube report
pylint-report.txt

# Example pdf
simple-example.pdf
complex-example.pdf

# All test results files
*.xml
